In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode,split,avg,count,round,col,sum
spark = SparkSession.builder.getOrCreate()

df = spark.read.option("header",True).csv("phi.csv",inferSchema=True)
df = df.withColumn('sum_stars', col("mean_stars")*col("cnt_reviews"))
df.show(5)

+-----------+-----------------+----------+-----------+---------+
|postal_code|    category_name|mean_stars|cnt_reviews|sum_stars|
+-----------+-----------------+----------+-----------+---------+
|      19147|             Thai|      3.84|       1015|   3897.6|
|      19107|             Bars|      3.83|      32548|124658.84|
|      19104|       Car Rental|      3.82|         38|   145.16|
|      19103|   Cardio Classes|      4.05|        172|    696.6|
|      19146|Printing Services|      4.45|         11|    48.95|
+-----------+-----------------+----------+-----------+---------+
only showing top 5 rows

In [ ]:

tmp = df.groupBy("category_name").agg(\
        sum("cnt_reviews").alias("cnt_reviews_cate"),\
        sum("sum_stars").alias("sum_stars_cate"))


tmp = tmp.withColumn("mean_stars_cate", col("sum_stars_cate")/col("cnt_reviews_cate"))
tmp.show()

+--------------------+----------------+------------------+------------------+
|       category_name|cnt_reviews_cate|    sum_stars_cate|   mean_stars_cate|
+--------------------+----------------+------------------+------------------+
|    Historical Tours|             570|            2347.0| 4.117543859649123|
|      Paddleboarding|              80|            345.88|            4.3235|
|      Dermatologists|             640|           2123.13|3.3173906250000003|
|             Beaches|            1629|           7046.89| 4.325899324739104|
|       Videographers|             171| 776.7099999999999| 4.542163742690058|
|       Skating Rinks|             426|           1488.02|3.4930046948356805|
|     Pet Photography|              16|             78.08|              4.88|
|       Data Recovery|             568|           2545.02| 4.480669014084507|
|              Fondue|             254|             937.4| 3.690551181102362|
|        Aerial Tours|               6|              30.0|               5.0|
|         Boat Repair|               5|              16.0|               3.2|
|               Reiki|             482|           2126.71| 4.412261410788382|
|            Day Spas|            9673| 38756.11999999999| 4.006628760467279|
|         Hobby Shops|             895|           3677.87| 4.109351955307263|
|            Honduran|             280|           1261.85| 4.506607142857143|
|          Bubble Tea|            8681|          34546.66|  3.97957147794033|
|          Gymnastics|              66|            291.02| 4.409393939393939|
|         Shoe Repair|             894|           3435.42| 3.842751677852349|
|Child Care & Day ...|             425|1554.2700000000002| 3.657105882352942|
|              Tennis|             122|            524.09| 4.295819672131148|
+--------------------+----------------+------------------+------------------+
only showing top 20 rows

In [ ]:
tmp.coalesce(1).write.option("header","true").format("csv").save("out3")

+-----------+-----------------+----------+-----------+---------+
|postal_code|    category_name|mean_stars|cnt_reviews|sum_stars|
+-----------+-----------------+----------+-----------+---------+
|      19147|             Thai|      3.84|       1015|   3897.6|
|      19107|             Bars|      3.83|      32548|124658.84|
|      19104|       Car Rental|      3.82|         38|   145.16|
|      19103|   Cardio Classes|      4.05|        172|    696.6|
|      19146|Printing Services|      4.45|         11|    48.95|
+-----------+-----------------+----------+-----------+---------+
only showing top 5 rows